*{
    margin:0px;
    padding: 0px;
}
.menu-bar{
    background-color: dodgerblue;
    padding: 15px; 
    
}

.menu-bar-button{
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom:0px ;
   
}

.menu-bar>ul{
    list-style-type: none;
    overflow: hidden;
    
}

.menu-bar-name{
    margin-top: -40px;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bolder;

}
.drawer{
    list-style-type: none;
    margin: 15px;
    width: 200px;
    text-align: center;
   
}

.drawer>li{
    margin:15px;
    text-align: center;
    
}


.drawer-name{
    font-size: 20px;
    font-weight: bold;
}
.drawer-home{
    cursor: pointer;
    color:dodgerblue; 
}

.drawer-dashboard{
    cursor: pointer;
    color:dodgerblue;
}
.drawer-add{
    cursor: pointer;
    color:dodgerblue;
}
.drawer-exit{
    cursor: pointer;
    color:dodgerblue;
}

